<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="Test_Chrome">
  <parameter name="browserName" value="Chrome"/>
  <classes>
  <class name="Test_Class.test_class"/>
  </classes>
  </test>  
  <test name="Test_Firefox">
  <parameter name="browserName" value="Firefox"/>
  <classes>
  <class name="Test_Class.test_class"/>
  </classes>
  </test> 
  <test name="Test_Edge">
  <parameter name="browserName" value="Edge"/>
  <classes>
  <class name="Test_Class.test_class"/>
    </classes>
  </test>
</suite> 
